@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f7f7f9;
}

header {
  background-color: #fff;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin-right: auto;
  margin-left: 1.5rem;
  padding: 1rem;
}

nav {
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  font-size: small;
}

.margin {
  margin-left: 6.4vw;
  margin-right: 6.4vw;
}

.flex-row {
  display: flex;
}

.menu {
  cursor: pointer;
  justify-content: flex-start;
  padding-right: 0;
}

.intro {
  height: 100vh;
  background-image: url("images/header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.032vw;
  background-color: #fff;
  border-bottom-left-radius: 21.3vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 10.6vw;
  color: #172b4d;
  padding-top: 38vw;
  padding-bottom: 10px;
  margin: 0;
  line-height: 12.85vw;
}

section.intro p {
  margin-top: 3.2vw;
  font-size: 4.26vw;
  color: #344563;
}

.lets-connect {
  column-gap: 5vw;
}

h3 {
  font-size: 8.53vw;
  font-weight: 700;
  color: #172b4d;
}

.about-myself h3 {
  margin-top: 0;
  padding-top: 30.4vw;
  margin-bottom: 0;
}

div.lets-connect h3 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 4.26vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
  padding-top: 0;
  padding-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.social-icons {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: end;
  gap: 5vw;
}

.social-icon:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

.works {
  grid-template-rows: repeat(4, 76.8vw);
  grid-template-columns: 87vw;
  grid-row-gap: 12.25vw;
  margin: 31vw 6.4vw;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 4.26vw;
  margin-bottom: 21.6vw;
}

.card-item {
  margin: 2% 4%;
}

.card-img {
  width: 93%;
  align-self: center;
  margin-top: 4%;
}

#parrafo {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: -7px;
}

#stories {
  margin-left: 13px;
  margin-top: -33px;
  margin-bottom: 8px;
}

.company {
  margin-top: -10px;
  justify-content: flex-start;
  align-items: baseline;
}

h4 {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-left: -3px;
  line-height: 16px;
}

.canopy {
  margin-left: 0;
}

.company li p {
  font-size: 3.46vw;
  color: #7a869a;
  margin: 0;
}

.company li {
  margin: 2.13vw 1.7vw;
}

.box {
  overflow: auto;
  margin: 12px;
}

.element {
  font-size: 12px;
  float: left;
  padding: 6px 12px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  margin: 0 5px;
}

.div-button {
  margin-top: 2.78vw;
  margin-bottom: 5vw;
}

.categories {
  justify-content: start;
  align-items: baseline;
}

.categories li {
  background-color: #ebebff;
  border-radius: 2.13vw;
  margin: 0 1.75vw;
}

li.html {
  margin-left: 0;
}

.about-myself {
  border-top-right-radius: 21.3vw;
  background-color: #fff;
}

.about-myself p.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 4.26vw;
  line-height: 6.4vw;
  color: #344563;
  margin-top: 3.2vw;
  margin-bottom: 0;
}

.social-icons2 {
  margin-top: 0;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: end;
  gap: 5vw;
}

li.abilities {
  justify-content: space-between;
  align-items: center;
  border-style: none none solid;
  border-width: 0.3vw;
  border-color: #dfe1e6;
}

img.next {
  width: 7vw;
  height: 7vw;
  margin-right: 11.2vw;
  margin-bottom: 14px;
}

#Languages {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 10px;
  height: 28px;
  left: 12px;
  right: 78px;
}

#frameworks {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 11px;
  height: 28px;
  left: 12px;
  right: 78px;
}

#skills {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 17px;
  margin-left: 11px;
  margin-bottom: 17px;
  height: 28px;
  left: 12px;
  right: 78px;
}

img.next2 {
  width: 7vw;
  height: 7vw;
  margin-right: 11.2vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

li.languages {
  justify-content: flex-start;
  align-items: center;
  column-gap: 4vw;
  border-style: none;
  width: 80.8vw;
  height: 17.6vw;
  background-color: #f7f7f9;
  border-radius: 2.13vw;
  margin-left: 10px;
  margin-top: 3.2vw;
  margin-bottom: 3.2vw;
}

li.languages img {
  margin-left: 3.2vw;
}

li.languages p {
  margin-top: 8px;
  margin-bottom: 0;
}

.textoboxes {
  height: 24px;
  left: 76px;
  right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  line-height: 3.34vw;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  padding: 4.5vw 3vw;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  background-color: transparent;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: #fff;
  background: #2230d2;
}

button:disabled {
  background-color: transparent;
  color: #5e6c84;
  border-color: #c1c7d0;
}
